.banner {
  position: relative;
  width: 100%;
  height: 16rem;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background-color: lch(18.64% 42.4 289.95 / 0.781);
  display: flex;
  justify-content: center;
  align-items: center;
}
